RIOT_API_KEY=RGAPI-0bc7e3b2-9d3f-4e7c-8286-d358c9ecd909
RIOT_PROXY_PORT=8787
VITE_RIOT_PROXY_URL=http://localhost:8787/api/riot
RIOT_PROXY_SECRET=choose-a-random-string
RIOT_PROXY_ORIGIN=http://localhost:5173
VITE_RIOT_PROXY_SECRET=choose-a-random-string
VITE_SHOW_TOP_BANNER=false
